@use 'colors';
@use 'fonts';
@use 'responsive';

.portfolio__about {
    display: flex;
    position: relative;
    z-index: 1;

    .about__content {
        width: 70%;
        margin-right: 3em;

        .portfolio-text {
            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .about__skills {
        display: flex;
        flex: 1;
        align-items: center;

        .skills__list {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            font-family: fonts.$main-font;
            font-weight: 600;
            @include responsive.f-font-size(14px, 16px);
            gap: 16px;
            list-style-type: none;
        }

        .skills__skill {
            $v-padding: 32px;
            $line-size: 8px;

            width: 100%;
            padding: $v-padding 16px;
            padding-bottom: $v-padding + $line-size;
            background-color: colors.$main-dark-light;
            box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.05);
            position: relative;
            text-align: center;
            text-transform: uppercase;
            transition: all 0.3s ease;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: $line-size;
                @include colors.dark-purple-grad(to left);
                position: absolute;
                bottom: 0;
                right: 0;
            }

            &:hover {
                box-shadow: 0 4px 12px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }

    @media screen and (max-width: 1279px) {
        .about__content {
            width: 60%;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .about__content {
            width: 100%;
        }

        .about__skills .skills__list {
            gap: 8px;

            .skills__skill {
                width: calc((100% - 8px) / 2);

                &:nth-child(2n)::after {
                    @include colors.dark-purple-grad(to right);
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        .about__skills .skills__list {
            gap: 8px;

            .skills__skill {
                width: 100%;

                &:nth-child(2n)::after {
                    @include colors.dark-purple-grad(to left);
                }
            }
        }
    }
}
