@use 'colors';
@use 'fonts';

.portfolio__about {
    display: flex;
    position: relative;
    z-index: 1;

    .about__content {
        width: 70%;
        margin: 32px 0;

        .portfolio-text {
            opacity: 0.8;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .about__skills {
        flex: auto;

        .portfolio-skill {
            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }

    .about__rect {
        flex: auto;
        margin-left: -35%;
        background-color: #312f40;
        position: relative;
        z-index: -1;
    }

    .portfolio-heading {
        margin-bottom: 1rem;
    }

    @media screen and (max-width: 1279px) {
        .about__content {
            width: 80%;
        }
    }

    @media screen and (max-width: 768px) {
        .about__content {
            width: 100%;
        }

        .about__rect {
            display: none;
        }
    }
}
