$main-dark: #2a2836;
$turquoise-light: #aeedfa;
$turquoise-dark: #65e3fe;
$dark-purple-light: #b8adfa;
$dark-purple-dark: #6951f9;
$purple-light: #afc7fa;
$purple-dark: #a621de;
$rose-light: #eaaef9;
$rose-dark: #de2068;