$main-dark: #2a2836;
$turquoise-light: #7be2f7;
$turquoise-dark: #25c4ec;
$dark-purple-light: #b8adfa;
$dark-purple-dark: #6951f9;
$purple-light: #afc7fa;
$purple-dark: #a621de;
$rose-light: #eaa1fc;
$rose-dark: #de2068;
