@use 'colors';
@use 'fonts';
@use 'responsive';

.contact__container {
    margin: 12px 0;
    position: relative;
}

.contact__label {
    font-family: fonts.$secondary-font;
    font-weight: 600;
    @include responsive.f-font-size(14px, 16px);
    position: absolute;
    top: 8px;
    left: 8px;
    pointer-events: none;
    // transform: translate(0, -50%);
    transition: all 0.25s ease;
}

.contact__input,
.contact__textarea {
    display: block;
    width: 100%;
    padding: 8px;
    font-family: fonts.$secondary-font;
    font-weight: 500;
    @include responsive.f-font-size(14px, 16px);
    color: white;
    background-color: transparent;
    border-bottom: 2px solid colors.$main-dark-light;

    &:focus ~ .contact__border {
        transform: scaleX(1);
        transform-origin: left;
    }

    &:focus + .contact__label,
    &.not-empty + .contact__label {
        font-size: 0.85em;
        opacity: 0.6;
        transform: translate(0, -1.5em);
    }
}

.contact__textarea {
    resize: none;
}

.contact__border {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease;
}
