@use 'colors';
@use 'fonts';

@mixin menu-link($padding) {
    & {
        padding: $padding;

        &::after {
            width: calc(100% - 2 * #{$padding});
            left: $padding;
        }
    }
}

.navigation {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: fonts.$secondary-font;
    font-size: 1rem;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    &__container {
        display: flex;
    }

    &__menu {
        margin-left: auto;

        .menu__content {
            display: flex;
            margin: 0;
            padding: 0;
            list-style-type: none;

            .menu__item {
                margin-right: 32px;

                &:last-child {
                    margin-right: 0;
                }
            }

            .menu__link {
                display: inline-block;
                position: relative;
                @include menu-link(4px);

                &::after {
                    content: '';
                    display: inline-block;
                    height: 2px;
                    background-color: white;
                    position: absolute;
                    bottom: 2px;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: transform 0.25s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }

    .menu__button {
        display: none;
        margin-left: auto;
        position: relative;
        z-index: 5;
        transition: transform 0.1s ease;

        // &:hover {
        //     .button__line {
        //         &:nth-child(1) {
        //             transform: rotateZ(36deg) scaleX(1.12);
        //         }

        //         &:nth-child(2) {
        //             transform: scaleX(0);
        //         }

        //         &:nth-child(3) {
        //             transform: rotateZ(-36deg) scaleX(1.12);
        //         }
        //     }
        // }

        .button__line {
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 7px;
            background-color: white;
            transition: transform 0.2s ease;
            transform-origin: left;
            outline: 1px solid transparent;
            
            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(2) {
                width: 24px;
                margin-left: auto;
            }
        }
    }

    &.open .menu__button {
        .button__line {
            &:nth-child(1) {
                transform: rotateZ(36deg) scaleX(1.12);
            }

            &:nth-child(2) {
                transform: scaleX(0);
            }

            &:nth-child(3) {
                transform: rotateZ(-36deg) scaleX(1.12);
            }
        }
    }

    @media screen and (max-width: 992px) {
        &__menu {
            width: 100%;
            height: 100vh;
            margin-left: 0;
            font-size: 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s ease, opacity 0.2s ease;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(colors.$main-dark, 0.9875);
                position: absolute;
                top: 0;
                left: 0;
                transform: scaleY(0);
                transform-origin: top;
                transition: transform 0.5s ease, opacity 0.4s ease;
                opacity: 0.5;

                // @supports (backdrop-filter: blur(20px)) {
                //     background-color: transparent;
                //     backdrop-filter: blur(20px);
                // }
            }

            .menu__content {
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .menu__item {
                    margin-right: 0;
                    margin-bottom: 12px;
                    transform: translateY(-10px);
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.2s ease 0;
    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .menu__link {
                    @include menu-link(12px);
                }
            }

            &.open {
                visibility: visible;
                opacity: 1;
                transition: unset;

                &::before {
                    transform: scaleY(1);
                    opacity: 1;
                }

                .menu__item {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s ease;

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            transition-delay: 0.1s + $i * 0.125s;
                        }
                    }
                }
            }

            // &::before {
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     height: 100vh;
            //     background-color: rgba($main-dark, 0.95);
            //     position: absolute;
            //     top: 0;
            //     left: 0;

            //     @supports (backdrop-filter: blur(20px)) {
            //         background-color: transparent;
            //         backdrop-filter: blur(20px);
            //     }
            // }
        }
        
        .menu__button {
            display: inline-block;
        }
    }
}