@use 'colors';
@use 'fonts';
@use 'responsive';

.portfolio-heading {
    font-family: fonts.$main-font;
    @include responsive.f-font-size(32px, 48px);
    font-weight: 800;
    text-transform: uppercase;
}

.portfolio-text {
    margin: 0.75rem 0;
    @include responsive.f-font-size(14px, 18px);
    font-weight: 300;
    line-height: 1.2;
}
