@use 'colors';
@use 'fonts';
@use 'responsive';

.portfolio-heading {
    font: 800 2.25rem fonts.$main-font;
    text-transform: uppercase;
}

.portfolio-text {
    margin: 0.75rem 0;
    font-weight: 300;
    line-height: 1.2;
}
