@use 'sass:math';

/* =============== Responsive containers =============== */
.container {
    width: 100%;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

    @media screen and (min-width: 481px) {
        width: 95%;
    }

    @media screen and (min-width: 769px) {
        width: 90%;
    }

    @media screen and (min-width: 1025px) {
        width: 85%;
    }

    @media screen and (min-width: 1281px) {
        width: 80%;
    }
}

/* =============== Fluid typography =============== */
@function strip-unit($v) {
    @return math.div($v, $v * 0 + 1);
}

@mixin f-font-size($min-size, $max-size) {
    $min-width: 320px;
    $max-width: 1920px;

    & {
        font-size: $min-size;

        @media screen and (min-width: $min-width) {
            font-size: calc(#{$min-size} + #{strip-unit($max-size - $min-size)} * ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)}));
        }
        @media screen and (min-width: $max-width) {
            font-size: $max-size;
        }
    }
}
