.portfolio__skills {
    .skills__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 16px;
        list-style-type: none;

        .skills__skill {
            width: calc((100% - 32px) / 3);
            padding: 16px;
            background-color: #312f40;
            border: 1px solid #4b4861;
            box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.05);
        }
    }
}
